.m-map {
	position: relative;
	width: 200px;
	height: 200px;
}
.station {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: black;
	position: absolute;
	cursor: pointer;
}
.station.active {
	background: blue;
}